


  .postit {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom, #f4a89a 10%, #f4a89a 100%);
    border: none;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
    transform: rotate(-2deg);
    font-family: 'Patrick Hand', cursive;
    padding: 20px;
    color: #333;
    position: relative;
    background-color: #f4a89a;
  }
  
  .postit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
  }