:root {
  --postit-sky-blue: #80CAFF;
  --postit-green: #85E0A3;
  --postit-yellow: #FBD767;
  --postit-pink: #FFBDF2;
  --postit-soft-yellow: #FDF5A3;
  --postit-aqua-blue: #75D7F0;
  --postit-mauve: #D9B8FF;
  --postit-grey: #E6E6E6;
  --postit-red: #FFAFA3;
  --postit-oragne: #FFC470;
}


.postit {
    width: 200px;
    height: 200px;
    /* background: linear-gradient(to bottom, #f4a89a 10%, #f4a89a 100%); */
    border: none;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
    transform: rotate(-2deg);
    font-family: 'Patrick Hand', cursive;
    padding: 20px;
    color: #333;
    position: relative;
    background-color: var(--postit-aqua-blue);
  }
  
  .postit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
  }