@import url("post-it-design.css");

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.ul-class {
    display: flex;
    /* gap: clamp(0.5rem, 2vw, 3rem);  */
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul-class li {
    margin-right: 20vw;
}

.ul-class li:last-child {
    margin-right: 0;
  }
  

.header-title {
    margin: 0;
}

