@import url("post-it-design.css");

:root {
    --postit-sky-blue: #80CAFF;
    --postit-green: #85E0A3;
    --postit-yellow: #FBD767;
    --postit-pink: #FFBDF2;
    --postit-soft-yellow: #FDF5A3;
    --postit-aqua-blue: #75D7F0;
    --postit-mauve: #D9B8FF;
    --postit-grey: #E6E6E6;
    --postit-red: #FFAFA3;
    --postit-oragne: #FFC470;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.ul-class {
    display: flex;
    /* gap: clamp(0.5rem, 2vw, 3rem);  */
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul-class li {
    margin-right: 20vw;
}

.ul-class li:last-child {
    margin-right: 0;
  }
  

.header-title {
    margin: 0;
}

.item-home {
    background-color: var(--postit-green)
}
.item-about {
    background-color: var(--postit-soft-yellow);

}
.item-contact {
    background-color: var(--postit-sky-blue);
}

